language: python
python:
- '3.5'

install:
  - export OT_UPLOAD_BRANCH=$(python scripts/getBranch.py)
  - echo $OT_UPLOAD_BRANCH
  - echo $PATH
  - pip install -e otcustomizers
  - pip install -r protolib/requirements.txt
  - pip install flake8==3.5.0 pytest
  - make install

script:
  - python --version
  - python3 --version
  - python -c 'import opentrons; print(opentrons.__version__)'
  # lint all code
  - flake8 protocols/ protolib2/
  - python ./scripts/bad-README-subcategory.py # make sure subcategories don't have 2 spaces
  # combine all parsed files to final zipped JSON in releases/deploy
  - make build

# Deploy the build version in an S3 bucket
deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  bucket: protocol-library-builds
  skip_cleanup: true
  local-dir: releases/deploy
  upload-dir: $OT_UPLOAD_BRANCH
  acl: private
  on:
    repo: Opentrons/Protocols
    all_branches: true

notifications:
  email:
    on_success: change
    on_failure: change
