sudo: false
language: python
python:
- '3.5'

install:
  - export OT_PROTOLIB_BRANCH=$(python scripts/getBranch.py protolib)
  - echo $OT_PROTOLIB_BRANCH
  - export OT_UPLOAD_BRANCH=$(python scripts/getBranch.py upload)
  - echo $OT_UPLOAD_BRANCH
  - openssl aes-256-cbc -K $encrypted_43309740674a_key -iv $encrypted_43309740674a_iv -in .ci/protocol-library.enc -out ../protocol-library -d
  - chmod 600 ../protocol-library
  - eval `ssh-agent -s`
  - ssh-add ../protocol-library
  - pip install "git+ssh://git@github.com/Opentrons/protocol-library.git@$OT_PROTOLIB_BRANCH#egg=protolib"
  - echo $PATH
  - pip install flake8

script:
  - python --version
  - python3 --version
  - python -c 'import opentrons; print(opentrons.__version__)'
  # lint and smoke test all protocols
  - flake8 .
  - ./scripts/smoke-test.sh
  # build zipped .json
  - library-build . releases
  - ls -la releases

# Deploy the build version in an S3 bucket
deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  bucket: protocol-library-builds
  skip_cleanup: true
  local-dir: releases
  upload-dir: $OT_UPLOAD_BRANCH
  acl: private
  on:
    repo: Opentrons/Protocols
    all_branches: true

notifications:
  email:
    on_success: change
    on_failure: change
